#cardsH {
    display: flex;
    display: ruby;
}

#cardTexto {
    display: flex;
    align-items: center;
    font-family: "Pixelify Sans", sans-serif;
    color: #fff;
    text-align: center;
}

#cardPreco {
    font-family: "Pixelify Sans", sans-serif;
    color: #fff;
    font-size: larger;
}

#card1 {
    height: 64vh;
    width: 15vw;
}

#card2 {
    height: 64vh;
    width: 15vw;
}

#card3 {
    height: 64vh;
    width: 15vw;
}

#card4 {
    height: 64vh;
    width: 15vw;
}

#card5 {
    height: 64vh;
    width: 15vw;
}

#imgHardware {

    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
}